@model Fiap.Exemplo01.MVC.Models.Aluno
@{
    ViewBag.Title = "Salvar";
}

<h2>Salvar</h2>

<h2>@TempData["mensagem"]</h2>

<h3>@Model.Nome  @Model.Salario @Model.Data</h3>

<h3>O nome do aluno é @ViewBag.nomeAluno</h3>
<h3>Data @ViewBag.dataNascimento</h3>
<h3>Salário @ViewBag.salario</h3>

