@model Fiap.Exercicio02.MVC.Models.Vaga

@{
    ViewBag.Title = "cadastrar";
}




@Helper.Message(TempData["msg"])



@using (Html.BeginForm())
{
    <div class="form-group">
        @Html.LabelFor( c => c.Cargo)
        @Html.TextBoxFor( c => c.Cargo, new {@class = "form-control"})
    </div>
    <div class="form-group">
        @Html.LabelFor(c => c.Descricao)
        @Html.TextAreaFor( c => c.Descricao, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(c => c.Salario)
        @Html.TextBoxFor(c => c.Salario, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(c => c.ValeRefeicao)
        @Html.CheckBoxFor(c => c.ValeRefeicao)
    </div>
    <div class="form-group">
        @Html.LabelFor( c => c.Nivel)
        @Html.DropDownListFor( c => c.Nivel, ViewBag.opcoes as SelectList,
            new { @class = "form-control"})
    </div>
<!--    <input type="submit" value="cadastrar" class="btn btn-primary" /> -->
   @Helper.Submit("Cadastrar");
}

@section Scripts{
    
    <script></script>
    <p>O java script vai aqui...</p>

    }



