@model List <Fiap.Exercicio02.MVC.Models.Vaga>


@{
    ViewBag.Title = "Listar";
}

<h2>Listar</h2>

<table class="table">
    <tr>
        Cargo
    </tr>
    <tr>
        Descrição
    </tr>
    <tr>
        Salário
    </tr>
    <tr>
        Vale Refeição
    </tr>
    <tr>
        Nível
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Cargo</td>
            <td>@item.Descricao</td>
            <td>@item.Salario</td>
            <td>@item.ValeRefeicao</td>
            <td>@item.Nivel</td>
        </tr>
    }



</table>


